*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
 }
.menu{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav a{
    color: rgb(0, 0, 0, 0.6);
    font-size: 21px;
    margin: 0 20px;
}
#syf{
    color: black;
    padding: 10px 0;
    border-bottom: 2px solid black;
}
nav a:hover{
    color: black;
    padding: 10px 0;
    border-bottom: 2px solid black;
}
.menu nav img{
    margin: 0 40px;
    width: 50px;
    height: 50px;
}
#img:hover{
    border: none;
}

.container{
    padding: 60px;
}
.categories{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories a{
    color: white;
    margin-right: 40px;
    font-size: 32px;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.contact-form,
.contact-info {
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 8px;
}

button {
    background-color: #001f3f;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #003366;
}
