*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
 }
.menu{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav a{
    color: rgb(0, 0, 0, 0.6);
    font-size: 21px;
    margin: 0 20px;
}
#syf{
    color: black;
    padding: 10px 0;
    border-bottom: 2px solid black;
}
nav a:hover{
    color: black;
    padding: 10px 0;
    border-bottom: 2px solid black;
}
.menu nav img{
    margin: 0 40px;
    width: 50px;
    height: 50px;
}
#img:hover{
    border: none;
}
.container{
    padding: 60px;
}
.categories{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories a{
    color: white;
    margin-right: 40px;
    font-size: 32px;
}
.categories a:hover{
    border-bottom: 2px solid white;
}
.bmw-i{
    margin-bottom: 100px;
}
.boxs .box a{
    color: rgba(0, 0, 0, 0.6);
}
.boxs .box h2{
    position: absolute;
    bottom: 0;
}
.boxs .box{
    position: relative;
    width: 450px;
    height: 250px;
    color: rgba(0, 0, 0, 0.6);
}
.boxs .box:hover{
    border: 2px solid gray;
}
.boxs .box img{
    width: 450px;
    height: auto;
}
.boxs{
    display: flex;
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center
}